@import "./custom";

.wrapper_home {
  background: url("../../assets/imgs/bg_home.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom center;
  height: 95vh;
  max-height: 800px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(19, 13, 53);
    background: linear-gradient(
      50deg,
      rgba(19, 13, 53, 1) 41%,
      rgba(19, 13, 53, 0.88) 90%
    );
  }
  .sec_content_home {
    position: relative;
    z-index: 1;
    color: #ffffff;
    padding-top: 200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .content_info {
      max-width: 650px;
    }
    .content_info_secundary {
      max-width: 330px;
      .item_dot_info {
        display: flex;
        align-items: center;
        .fa-regular {
          font-size: 1.35rem;
          color: var(--primary_color);
        }
        span {
          padding-left: 0.5rem;
        }
      }
    }
  }
}

.wrapper_home_break {
  background: rgb(19, 13, 53);
  background: linear-gradient(
    180deg,
    rgba(19, 13, 53, 1) 41%,
    rgba(255, 255, 255, 1) 41%
  );
  .container-lg {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    .home_break {
      min-height: 550px;
      max-height: 550px;
      width: 100%;
      max-width: 375px;
      @include borderCustom;
      &.i {
        background: url(../imgs/bg_home_break01.jpg) no-repeat;
        background-size: cover;
        background-position: bottom center;
      }
      &.ii {
        background: url(../imgs/bg_home_break02.jpg) no-repeat;
        background-size: cover;
        background-position: bottom center;
        margin-top: 5rem;
      }
      &.iii {
        background: url(../imgs/bg_home_break03.jpg) no-repeat;
        background-size: cover;
        background-position: bottom center;
      }
    }
  }
}

.wrapper_why_jci {
  .content_why_jci {
    text-align: center;
  }
  .slick-slider {
    overflow: hidden;
    .slick-slide img {
      display: inline;
    }
  }
}

.wrapper_subservices {
  background: #e9e9f1;
  padding: 4rem 0 7rem;
  .content_subservices {
    border-top: 1.25px solid var(--color_marin);
    border-bottom: 1.25px solid var(--color_marin);
    .sec_titular {
      padding: 2.25rem 0;
    }
  }
}

.wrapper_clients {
  padding: 7rem 0;
}

.wrapper_upcoming {
  .content_upcoming {
    background: var(--color_marin);
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 100px;
    padding: 4rem 0 4rem 4rem;
    position: relative;
    .box_info__upcoming {
      text-align: left;
      max-width: 220px;
      .ttl_thin {
        color: var(--primary_color);
        padding-left: 2.5rem;
        span::after,
        span::before {
          background: var(--primary_color);
        }
      }
    }
    .item_upcoming {
      padding: 1rem;
      img {
        max-height: 430px;
        max-width: 100%;
      }
    }
    .BrainhubCarousel__arrows {
      position: absolute;
      z-index: 1;
      bottom: 130px;
      padding: 25px;
      border-radius: 6px;
      background: #ffffff;
      span {
        border-color: #333333;
      }
      &:hover {
        background-color: var(--primary_color);
      }
    }
    .BrainhubCarousel__arrowLeft {
      left: 65px;
    }
    .BrainhubCarousel__arrowRight {
      right: auto;
      left: 122px;
    }
  }
}

// == PAGE ABOUT ==
.wrapper_page_about {
  .contain_head_about {
    color: #ffffff;
    @include bgDegradate;
    height: 80vh;
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
    .sec_head {
      .ttl_thin {
        span::after,
        span::before {
          content: "";
          background: var(--primary_color);
        }
      }
    }
  }
  .contain_bg_data_business {
    margin-top: -110px;
    .item_dot_info {
      position: absolute;
      z-index: 1;
      padding: 1rem 1.5rem;
      background: #ffffff;
      color: #333333;
      border-radius: 10px;
      box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.1);
      gap: 5px;
      display: flex;
      align-items: center;
      flex-direction: column;
      .info__dot {
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        .ico_plus {
          font-size: 2.75rem;
        }
        .bignum {
          font-size: 4rem;
          line-height: 1;
          font-weight: 800;
        }
      }
      .label_info {
        text-align: center;
        display: block;
        font-weight: 600;
        font-size: 1.15rem;
        line-height: 0.5;
      }
      &.anios {
        left: -100px;
        top: 80px;
      }
      &.success {
        right: -100px;
        top: 220px;
      }
      &.happies {
        left: -80px;
        top: 420px;
      }
    }
    .sec_bg_gallery {
      max-width: 720px;
      position: relative;
      height: 600px;
      margin: 0 auto;
      .slick-initialized .slick-slide {
        padding: 1rem;
      }
      .item__slide_about {
        height: 600px;
        @include borderCustom;
      }
      .i {
        background: url("../../assets/imgs/bg_home.jpg");
        background-position: center center;
        background-size: cover;
      }
      .ii {
        background: url("../../assets/imgs/about/about02.jpg");
        background-position: center center;
        background-size: cover;
      }
      .iii {
        background: url("../../assets/imgs/about/about03.jpg");
        background-position: center center;
        background-size: cover;
      }
      .iv {
        background: url("../../assets/imgs/about/about04.jpg");
        background-position: center center;
        background-size: cover;
      }
      .v {
        background: url("../../assets/imgs/about/about05.jpg");
        background-position: center center;
        background-size: cover;
      }
      .vi {
        background: url("../../assets/imgs/about/about06.jpg");
        background-position: center center;
        background-size: cover;
      }
    }
  }
  .contain_mis_vis {
    margin-top: 150px;
    .col-md-6 {
      &:first-child {
        border-right: 2px solid #333333;
      }
    }
    .box_mis_vis {
      max-width: 450px;
      margin: 0 auto;
      margin-bottom: 2rem;
      text-align: center;
      padding-top: 30px;
    }
  }
  .contain_teams_jc {
    background: var(--color_bg_grey);
    margin-top: 125px;
    padding: 80px 0 40px;
  }
  .wrapper_contain_item_teams {
    margin-top: 5rem;
    .item_teams {
      margin-bottom: 4rem;
      padding: 1.5rem 0.25rem 1rem;
      border-radius: 15px;
      &:hover {
        background: #dedee8;
        .photo_teams {
          img {
            border: 3px solid var(--color_morado);
          }
        }
      }
      .photo_teams {
        margin-bottom: 1.75rem;
        img {
          border: 3px solid var(--color_marin);
          border-radius: 50%;
          padding: 0.65rem;
          max-height: 275px;
        }
      }
      h4 {
        border-bottom: 2px dashed var(--color_marin);
        max-width: 275px;
        margin: 0 auto;
        padding-bottom: 0.75rem;
      }
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        gap: 5px;
        color: #333333;
        &:hover {
          color: var(--color_morado);
        }
      }
    }
    .circle_link {
      background-color: #eeeef3;
      height: 275px;
      width: 275px;
      margin: 0 auto;
      display: flex;
      justify-items: center;
      align-items: center;
      text-align: center;
      border-radius: 50%;
      border: 3px dashed var(--color_marin);
      padding: 1rem;
      margin-top: 1.5rem;
      color: #333333;
      &:hover {
        background: var(--color_morado);
        color: #ffffff;
      }
    }
  }
}

// == PAGE CONTACT ==
.wrapper_page_contact {
  .contain_head_contact {
    color: #ffffff;
    background: var(--color_marin);
    height: 80vh;
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
    .sec_head {
      .ttl_thin {
        span::after,
        span::before {
          content: "";
          background: var(--primary_color);
        }
      }
    }
  }
  .contain_bg_data_business {
    margin-top: -110px;
    .item_contact_head {
      background: #fff;
      text-align: center;
      padding: 0.5rem;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.15);
      a {
        color: #333333;
        &:hover {
          color: var(--primary_color);
        }
      }
    }
  }
  .contain_in_contact {
    margin-top: 10rem;
    .sec_form_contact {
      max-width: 500px;
      margin-top: 1rem;
      .ttls {
        margin-bottom: 4rem;
      }
      .form-control {
        background: #f5f5f5;
        line-height: 1.9;
      }
      label {
        font-weight: 600;
        font-size: 0.9rem;
      }
    }
    .sec_bg_contact {
      text-align: center;
    }
  }
}

.wrapper_congresos_eventos_page {
  .contain_head_congresos_eventos {
    color: #ffffff;
    @include bgDegradate;
    height: 70vh;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
    .sec_head {
      .ttl_thin {
        span::after,
        span::before {
          content: "";
          background: var(--primary_color);
        }
      }
    }
  }
  .contain__congresos_eventos {
    margin-top: -110px;
    .sec_slider_page_events {
      position: relative;
      margin: 0 auto;
    }
  }
  .contain_info__congresos {
    margin-top: 8rem;
    .box_info__services {
      margin-top: 2rem;
    }
    .box_bg_services {
      img {
        max-width: 90%;
      }
    }
    &.virtual {
      background: var(--color_marin);
      color: #ffffff;
      padding: 7rem 0;
      .ttls.ttl_thin span::before {
        background: #ffffff;
      }
      .cite {
        background-color: #e1f5f6;
        color: #333333;
      }
      .box_bg_services {
        img {
          max-width: 100%;
        }
      }
    }
  }

  .section_compare_events {
    margin-top: 5rem;
    .row_compare_events {
      display: flex;
      justify-content: space-between;
      gap: 15px;
      .box_details_events {
        width: 100%;
        &.ttl__compare {
          display: flex;
          align-self: center;
          h4 {
            max-width: 150px;
            text-align: right;
          }
        }
        ul {
          padding-top: 1rem;
          border-top: 2px solid #333333;
        }
      }
    }
  }
}

.wrapper__page_services {
  .contain__head_page {
    color: #ffffff;
    @include bgDegradate;
    min-height: 600px;
    height: 100%;
    text-align: center;
    padding: 0 1rem;
    padding-top: 12rem;
    .sec_head {
      .ttl_thin {
        span::after,
        span::before {
          content: "";
          background: var(--primary_color);
        }
      }
      .boximgspods {
        margin-top: 2rem;
        img {
          max-height: 55px;
        }
      }
    }
  }

  .contain__slide_page {
    margin-top: 5rem;
    .sec_slider_page_events {
      position: relative;
      margin: 0 auto;
      margin-top: 2rem;
      .item__slide_bg {
        padding: 0 0.75rem;
        .box_bg {
          height: 250px;
          border-radius: 10px;
        }
      }
      &.bg__i {
        background: url("../../assets/imgs/bg_home.jpg");
        background-position: center center;
        background-size: cover;
      }
      &.bg__ii {
        background: url("https://picsum.photos/300/300");
        background-position: center center;
        background-size: cover;
      }
      &.bg__iii {
        background: url("https://picsum.photos/200/300");
        background-position: center center;
        background-size: cover;
      }
      &.bg__iv {
        background: url("https://picsum.photos/200/200");
        background-position: center center;
        background-size: cover;
      }
      &.bg__v {
        background: url("https://picsum.photos/400/300");
        background-position: center center;
        background-size: cover;
      }
    }
  }

  .contain_info__page {
    margin-top: 7rem;
    margin-bottom: 10rem;
    img {
      max-width: 100%;
    }
    .container_am {
      margin-bottom: 4rem;
    }
    .container-lg {
      display: flex;
      justify-content: space-between;
      .col_info {
        max-width: 320px;
        width: 100%;
        margin-top: 50px;
      }
      .con_img_info {
        img {
          width: 100%;
        }
      }
    }
  }
  .icoinpods {
    margin-bottom: 2rem;
    img {
      max-height: 80px;
    }
  }
}
.carousel_in_services {
  .item__slide_bg {
    padding: 0 0.75rem;
    padding-bottom: 1.25rem !important;
    .box_bg {
      height: 265px;
      border-radius: 10px;
      @include borderCustom;
    }
  }
  &._congresos_eventos {
    .bg__i {
      background: url("../../assets/imgs/servicios/congresos-eventos/ce01.jpg");
      background-position: center center;
      background-size: cover;
    }
    .bg__ii {
      background: url("../../assets/imgs/servicios/congresos-eventos/ce02.jpg");
      background-position: center center;
      background-size: cover;
    }
    .bg__iii {
      background: url("../../assets/imgs/servicios/congresos-eventos/ce03.jpg");
      background-position: center center;
      background-size: cover;
    }
    .bg__iv {
      background: url("../../assets/imgs/servicios/congresos-eventos/ce04.jpg");
      background-position: center center;
      background-size: cover;
    }
    .bg__v {
      background: url("../../assets/imgs/servicios/congresos-eventos/ce05.jpg");
      background-position: center center;
      background-size: cover;
    }
    .bg__vi {
      background: url("../../assets/imgs/servicios/congresos-eventos/ce06.jpg");
      background-position: center center;
      background-size: cover;
    }
    .bg__vii {
      background: url("../../assets/imgs/servicios/congresos-eventos/ce07.jpg");
      background-position: center center;
      background-size: cover;
    }
  }
  &._streaming {
    .bg__i {
      background: url("../imgs/servicios/streaming/str01.jpg");
      background-position: center center;
      background-size: cover;
    }
    .bg__ii {
      background: url("../imgs/servicios/streaming/str02.jpg");
      background-position: center center;
      background-size: cover;
    }
    .bg__iii {
      background: url("../imgs/servicios/streaming/str03.jpg");
      background-position: center center;
      background-size: cover;
    }
    .bg__iv {
      background: url("../imgs/servicios/streaming/str04.jpg");
      background-position: center center;
      background-size: cover;
    }
    .bg__v {
      background: url("../imgs/servicios/streaming/str05.jpg");
      background-position: center center;
      background-size: cover;
    }
    .bg__vi {
      background: url("../imgs/servicios/streaming/str06.jpg");
      background-position: center center;
      background-size: cover;
    }
    .bg__vii {
      background: url("../imgs/servicios/streaming/str04.jpg");
      background-position: center center;
      background-size: cover;
    }
  }
  &._webDevelop {
    .bg__i {
      background: url("../imgs/servicios/web/wb01.jpg");
      background-position: center center;
      background-size: cover;
    }
    .bg__ii {
      background: url("../imgs/servicios/web/wb02.jpg");
      background-position: center center;
      background-size: cover;
    }
    .bg__iii {
      background: url("../imgs/servicios/web/wb03.jpg");
      background-position: center center;
      background-size: cover;
    }
    .bg__iv {
      background: url("../imgs/servicios/web/wb04.jpg");
      background-position: center center;
      background-size: cover;
    }
    .bg__v {
      background: url("../imgs/servicios/web/wb05.jpg");
      background-position: center center;
      background-size: cover;
    }
    .bg__vi {
      background: url("../imgs/servicios/web/wb06.jpg");
      background-position: center center;
      background-size: cover;
    }
    .bg__vii {
      background: url("../imgs/servicios/web/wb07.jpg");
      background-position: center center;
      background-size: cover;
    }
  }
  &._marketing {
    .bg__i {
      background: url("../imgs/servicios/marketing/mk01.jpg");
      background-position: center center;
      background-size: cover;
    }
    .bg__ii {
      background: url("../imgs/servicios/marketing/mk02.jpg");
      background-position: center center;
      background-size: cover;
    }
    .bg__iii {
      background: url("../imgs/servicios/marketing/mk03.jpg");
      background-position: center center;
      background-size: cover;
    }
    .bg__iv {
      background: url("../imgs/servicios/marketing/mk04.jpg");
      background-position: center center;
      background-size: cover;
    }
    .bg__v {
      background: url("../imgs/servicios/marketing/mk05.jpg");
      background-position: center center;
      background-size: cover;
    }
    .bg__vi {
      background: url("../imgs/servicios/marketing/mk02.jpg");
      background-position: center center;
      background-size: cover;
    }
    .bg__vii {
      background: url("../imgs/servicios/marketing/mk04.jpg");
      background-position: center center;
      background-size: cover;
    }
  }
  &._podcast {
    .bg__i {
      background: url("../imgs/servicios/podcast/pd01.jpg");
      background-position: center center;
      background-size: cover;
    }
    .bg__ii {
      background: url("../imgs/servicios/podcast/pd06.jpg");
      background-position: center center;
      background-size: cover;
    }
    .bg__iii {
      background: url("../imgs/servicios/podcast/pd03.jpg");
      background-position: center center;
      background-size: cover;
    }
    .bg__iv {
      background: url("../imgs/servicios/podcast/pd04.jpg");
      background-position: center center;
      background-size: cover;
    }
    .bg__v {
      background: url("../imgs/servicios/podcast/pd05.jpg");
      background-position: center center;
      background-size: cover;
    }
    .bg__vi {
      background: url("../imgs/servicios/podcast/pd02.jpg");
      background-position: center center;
      background-size: cover;
    }
    .bg__vii {
      background: url("../imgs/servicios/podcast/pd04.jpg");
      background-position: center center;
      background-size: cover;
    }
  }
}

.wrapper_break_attach {
  min-height: 375px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  &.home__page {
    background-image: url("../imgs/bg_home_page.jpg");
    background-position: center center;
  }
  &.congresosEventos__page {
    background-image: url("../imgs/bg_home_break01.jpg");
    background-position: center center;
  }
  &.streaming__page {
    background-image: url("../imgs/servicios/streaming/bg_streaming.jpg");
    background-position: center center;
  }
  &.webDevelop__page {
    background-image: url("../imgs/servicios/web/bg_web.jpg");
    background-position: center center;
  }
  &.marketing__page {
    background-image: url("../imgs/servicios/marketing/mk02.jpg");
    background-position: center center;
  }
  &.podcast__page {
    background-image: url("../imgs/servicios/podcast/pd06.jpg");
    background-position: center center;
  }
}

// == RWD ==
@media screen and (max-width: 1200px) {
  .wrapper_header {
    .header_subnav {
      .content_subheader {
        .sec_nav_subheader {
          .box_item_link_service {
            ul {
              display: flex;
              flex-wrap: wrap;
              gap: 10px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 980px) {
  .wrapper_header {
    .header_subnav {
      .content_subheader {
        .row_subheader {
          .sec_info_subheader {
            max-width: 200px !important;
            margin-top: 1rem;
          }
          .sec_nav_subheader {
            .box_item_link_service {
              width: calc(50% - 25px) !important;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 980px) {
  .wrapper_header {
    .header_subnav {
      .content_subheader {
        .row_subheader {
          .sec_info_subheader {
            max-width: 200px !important;
            margin-top: 1rem;
          }
          .sec_nav_subheader {
            .box_item_link_service {
              width: calc(50% - 25px) !important;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .ttls.ttl_in_home {
    font-size: 45px;
  }
  .wrapper_header {
    .header_botton{
      .sec_options {
        .box_options_btns{
          .btn {
            min-width: 135px
          }
        }
    }
    }
    .header_subnav {
      .content_subheader {
        .row_subheader {
          flex-direction: column;
          .sec_info_subheader {
            max-width: 100% !important;
            div {
              margin-top: 0rem !important;
            }
          }
          .sec_nav_subheader {
            .box_item_link_service {
              width: calc(33.3% - 25px) !important;
            }
          }
        }
      }
    }
  }
  .wrapper_home {
    height: 100%;
    .sec_content_home {
      padding-top: 180px;
      flex-direction: column;
      justify-content: flex-start;
      .content_info,
      .content_info_secundary {
        max-width: 100%;
        width: 100%;
      }
      .content_info_secundary {
        margin-top: 4rem;
        display: flex;
        gap: 15px;
        align-items: flex-start;
        flex-wrap: wrap;
        .item_dot_info {
          align-items: flex-start;
        }
      }
    }
  }

  .wrapper_home_break {
    padding-top: 4rem;
    .container-lg {
      .home_break {
        min-height: 350px;
        max-height: 350px;
      }
    }
  }
}
@media screen and (max-width: 660px){
  // .wrapper_header .header_botton 
}

@media screen and (max-width: 620px) {
  .wrapper_header {
    .header_subnav {
      .content_subheader {
        .row_subheader {
          flex-direction: column;
          .sec_info_subheader {
            max-width: 100% !important;
            div {
              margin-top: 0rem !important;
            }
          }
          .sec_nav_subheader {
            .box_item_link_service {
              width: calc(50% - 25px) !important;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 440px) {
  .wrapper_header {
    .header_subnav {
      .content_subheader {
        .row_subheader {
          flex-direction: column;
          .sec_nav_subheader {
            gap: 10px !important;
            .box_item_link_service {
              width: 100% !important;
              .name_link_head {
                min-height: auto !important;
              }
              ul li {
                display: flex;
                flex-direction: column;
                width: 30%;
              }
            }
          }
        }
      }
    }
  }
}
